<%# --- Dependencies --- %>
<%# core/all.scss %>
<%# components/main_nav.scss %>

<%# --- Locals --- %>
<% breakpoint ||= 'small' # breakpoint where the nav turns into a flyout %>

<!-- Main navigation -->
<div class="dropdown kill-dropdown@<%= breakpoint %> js-dropdown">
    <nav class="main_nav main_nav--fixed@<%= breakpoint %> js-sticky">
        <ul>
            <% chapters.each do |chapter| %>
                <%# add an 'active' class if this nav item is for the current page %>
                <% nav_class = current_page?("/#{chapter.urlize}/") ? "main_nav-item is-active" : "main_nav-item" %>
                <li class="<%= nav_class %>">
                    <%= link_to chapter.titleize, "/#{chapter.urlize}/", :class => "main_nav-link" %>

                    <%# if this is the current page, show the sections too %>
                    <% if current_page?("/#{chapter.urlize}/") %>
                        <%# find all the sections matching this chapter name which are not 'intro' types %>
                        <% sections = sitemap.resources.select {|r| r.data.chapter == chapter }.select {|r| r.data.type != 'intro' }.sort_by {|r| r.data.weight } %>
                        <% if sections.length > 0 %>
                            <ul class="main_nav-subnav">
                                <% sections.each do |section| %>
                                    <li class="main_nav-item main_nav-item--secondary">
                                        <%= link_to section.data.title, "##{section.data.title.urlize}", :class => "main_nav-link main_nav-link--secondary js-sticky-highlight" %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </nav>
</div>
