<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title>GPOBA Styleguide<% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <%= stylesheet_link_tag :main %>
        <%= javascript_include_tag "critical.bundle" %>
    </head>

    <body>
        <%= partial "components/main_header" %>
        <%= partial "components/main_nav", :locals => { :chapters => get_chapters, :breakpoint => 'small' } %>

        <div class="has-main_nav-margin@small kill-main_nav-margin@medium l-margin-bottom-wide">
            <%= yield %>
        </div>

        <%= partial "components/main_footer" %>

        <%= javascript_include_tag "bundle" %>
    </body>
</html>
