<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title>GPOBA Styleguide<% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <%= stylesheet_link_tag :main %>
        <%= javascript_include_tag "javascripts/critical.bundle" %>
    </head>

    <body>
        <!-- Main header -->
        <header class="main_header c-well">
            <!-- GPOBA logo -->
            <picture class="logo">
                GPOBA
            </picture>

            <!-- Main navigation -->
            <nav class="main_nav">
                <ul>
                    <% build_chapters(blog('chapters').articles).each do |chapter| %>
                        <li><%= chapter %></li>
                    <% end %>
                </ul>
            </nav>
        </header>

        <div class="has-main_header-margin">
            <%= yield %>

            <footer class="l-wrapper border-top">
                <small>&copy; Copyright <%= Time.now.year %> GPOBA | <a href="http://www.worldbank.org/legalinfo">Legal</a></small>
            </footer>
        </div>
        <%= javascript_include_tag "javascripts/bundle" %>
    </body>
</html>
