<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title>GPOBA Styleguide<% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <%= stylesheet_link_tag :main %>
        <%= javascript_include_tag "critical.bundle" %>
    </head>

    <body>
        <!-- Main header -->
        <header class="main_header c-well border-right">
            <!-- GPOBA logo -->
            <%= link_to "GPOBA", "/", :class => "logo" %>

            <!-- Main navigation -->
            <nav class="main_nav l-margin-top-wide">
                <ul>
                    <% get_chapters.each do |chapter| %>
                        <% unless current_page?("/#{chapter.urlize}/") %>
                        <li><%= link_to chapter.titleize, "#{chapter.urlize}", :class => "main_nav-item" %></li>
                        <% else %>
                        <li>
                            <%= link_to chapter.titleize, "#{chapter.urlize}", :class => "main_nav-item is-active" %>
                            <ul class="main_nav-subnav">
                                <% blog("chapters").articles.select {|a| a.data.chapter == chapter }.sort_by {|a| a.data.weight }.each do |section| %>
                                    <li><%= link_to section.data.title, "#{chapter.urlize}##{section.title.urlize}", :class => "main_nav-item main_nav-item--secondary" %></li>
                                <% end %>
                            </ul>
                        </li>
                        <% end %>
                    <% end %>
                </ul>
            </nav>
        </header>

        <div class="has-main_header-margin">
            <%= yield %>

            <footer class="l-wrapper border-top">
                <small>&copy; Copyright <%= Time.now.year %> GPOBA | <a href="http://www.worldbank.org/legalinfo">Legal</a></small>
            </footer>
        </div>
        <%= javascript_include_tag "bundle" %>
    </body>
</html>
