---
layout: layout
---
<%# add the chapter title to this page's metadata %>
<% current_page.add_metadata({
    'title' => locals[:title]
}) %>

<article class="l-margin-top-wide">
    <h1 class="l-wrapper t-heading t-heading--title t-scale-alpha c-highlight"><%= locals[:title] %></h1>

    <% sitemap.resources.select {|r| r.data.chapter == locals[:title] }.sort_by {|r| r.data.weight }.each do |section| %>
        <% if section.data.type == "intro" %>
            <div class="l-wrapper content">
                <%= section.render %>
            </div>
        <% else %>
            <section class="l-wrapper l-margin-top-wide" id="<%= section.data.title.urlize %>">
                <h2 class="t-heading t-scale-beta border-top l-padding-top"><%= section.data.title %></h2>
                <div class="content">
                    <%= section.render %>
                </div>
            </section>
        <% end %>
    <% end %>
</article>

<%= partial "components/local_nav", :locals => {
    :prev_page => prev_chapter(locals[:title]),
    :next_page => next_chapter(locals[:title])
} %>
